:root{
    --main-color: #1793ff;
    --second-color: #edeae3;
    --text-color: #1b1b1b;
    --bg-color: #fff;
    --box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: url(user/assets/images/bg.jpg);
    background-size: cover;
}

.container {
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
    background-color:var(--bg-color);
    border-radius: 8px;
    padding: 20px;
    box-shadow: var(--box-shadow);
}

.title {
    text-align: center;
    font-weight: 900;
}

.form {
    margin-top: 20px;
}

input[type="email"],
input[type="text"],
input[type="password"]{
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    --main-color: #50cbd1;
}

.forgot {
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    justify-content: center;
}

.forgot a {
    text-decoration: none;
    color:var(--text-color);
    margin-right: 15px;
}

.forgot a:hover {
    text-decoration: underline;
    color: var(--main-color);
}
